body {
    background: linear-gradient(90deg, #74ebd5 0%, #acb6e5 100%);
    background: #FAF9F6;
    /* color: #7469B6; */
}

.main {
    border-radius: 35px;
    margin: 50px;
    background: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
    background: lightcyan;
    background: #E1AFD1;
    background: #FFE6E6;
    background: #FBF9F1;
    /* height: 100px;
    width: 100px; */
}

.hero {
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    font-family: salsa;
    margin-top: 2rem;
    padding-top: 3rem;
    font-weight: 598;
}

.hero p {
    padding-top: 20px;
    margin-left: 35%;
    text-align: center;
    width: 28vw;
    font-family: salsa;
    font-weight: 200;
}

.hero label {
    font-weight: 500;
    font-size: 1.2rem;
    font-family: Merriweather;
}

.hero input {
    border-radius: 7px;
}

.hero h3 {
    padding-top: 2rem;
    font-size: 1.6rem;
    font-family: salsa;
}


.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* margin-left: 45%; */

}

.button-container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.selected {
    background-color: #007bff;
    color: #fff;

}

.button-container>p>svg {
    margin-bottom: 8px;
}

.Upload {
    border-radius: 3px;
    font-family: salsa;
}